@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: walsheim;
        src: url(../public/Fonts/GT-Walsheim-Regular.woff) format("woff");
    }
}
@layer base {
    @font-face {
        font-family: simplon;
        src: url(../public/Fonts/SimplonMono-Regular.woff2)format("woff2");
    }
}
@layer base {
    @font-face {
        font-family: roboto;
        src: url(../public//Fonts/Roboto-Regular.ttf) format(".ttf");
    }
}

.sidebar-link {
    transition: all 0.3s ease-in-out;
  }
  
  .vehicle-card {
    transition: transform 0.2s ease-in-out;
  }
  
  .vehicle-card:hover {
    transform: scale(1.05);
  }